<h1>Into the Dungeon</h1>

<div id="description">
  <p>Multi-player game: play it online or sharing a single device with your friends</p>
  <ol>
    <li>Pick the hero who will enter the dungeon.</li>
    <li>Fill the dungeon with monsters.</li> 
    <li>Remove pieces of the hero's equipment.</li>
    <li>Run away or be the player who dares to enter the dungeon.</li>
    <li>Win after you survive two dungeons or all other players are dead.</li>
  </ol>
</div>

<button mat-raised-button color="accent" routerLink="{{ paths.oneDevice }}">One Device</button>
<button mat-raised-button color="accent" routerLink="{{ paths.online }}">Online</button>
